.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 7%
  &-2
    animation: float1 4.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 7%
  &-3
      animation: float1 1.0s linear infinite alternate
      position: absolute
      top: 52%
      right: 35%
  &-4
      animation: float1 2.5s linear infinite alternate
      position: absolute
      top: 55%
      right: 60%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.medidasbanner
  width: 615px
  height: 419px

.bloque-texto-b.color-cajon:before
  background:  #DADEEC

.bloque-texto-b.color-cajon.boxtema1:before
  background:  #F0F0F0

.bloque-texto.cajon.box2tem1
  background: #DADEEC


.bgr-slider 
  background: #EBEBEB


.slyder-a__btn--sigt
  background-color: #AAB2D3

.slyder-a__btn--atrs
  background-color: #AAB2D3

.color-tarjetacliente 
  background-color: #F2F4F9

.tarjeta--acordion
  background-color: #DADEEC

.imagen-decorativa-1
  animation: float1 3s ease-in-out infinite alternate
  top: 18%
  right: 4%
  
.imagen-decorativa-7
  animation: float1 3s ease-in-out infinite alternate
  top: 18%
  right: 4%
  margin-left: -138px



.bloque-texto-g__texto2
  right: 500px    
  background-color: rgba(255, 255, 255, 0.9)
  position: sticky
  width: 70%
  //text-align: center

@media (max-width: 500px)
  .bloque-texto-g__texto2
    width: 100% 




.bloque-texto-g__img.carimg
  left: 510px
  
@media (max-width: 500px)
  
  .bloque-texto-g__img.carimg 
    left: 0px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.color-acento-contenidotarjeta
  background: #FFFCEF
  
.fa-chevron-right:before
  color: #707BA3

.fa-chevron-left:before
  color: #707BA3



.textoeditado
  text-align: left



.bloque-texto-g__texto3
  right: 500px    
  background-color: rgba(255, 255, 255, 1.0)  
  position: sticky
  width: 60%
  //text-align: center

.tarjeta.color-acento-contenidotarjeta2
  background-color: #C2C7DF
  
.tarjeta--azulacordion
  background-color: #AAB2D3

.pasos-b__header__item--before 
  
  color: white

.pasos-b__header__item__dot
  border-color: #FC502D
  background-color: #FC502D


.cajon.color-acento-botones.color
  background-color: #CCC8B8

.cajon.color-acento-botones:before
  background-color: #CCC8B8

.tabs-a__tab
 background-color: #D3D3D3


.banner-principal-decorativo-1ra
  animation: float1 1.5s ease-in-out infinite alternate
  top: 1.0%
  right: 25%


.dimensionimg
  padding-top: 100%



.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 2.4rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 0rem ))
    background-color: #FEC2B5
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em
        text-align: center

.lineat       
  text-align: left

.cajdelgada
  content: ''
  display: block
  position: relative
  top: 50%
  
.bg5
  background-image: url('../assets/curso/temas/Tema2/fondoslider.png')   
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 10px !important

.tarjeta.color-primario--borde
  display-flex
  display: flex !important
  text-align: left


.tarjeta-avatar
  width: 280px
  height: 625px
@media (max-width:500px)  
  .tarjeta-avatar
    width: 300px
    height: 575px





.tarjeta--amarilla-1
  background-color: #fffcef

.caj1
  top: 10%
  bottom: 100px

.bg1
  background-image: url('../assets/curso/temas/Tema1/sliderfondo.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 10px !important

.tabs-a__tab__text
  font-weight: bold

.color-oliva
  background-color: #CCC198

.color-white
  background-color: #fff

.img-infografica.color-acento-botones .img-infografica__item__numero
  color: white

.fnd-1 
  background-color: #FFCD0D 

.img-infografica.color-acento-contenido .img-infografica__item__dot::before, .img-infografica.color-acento-contenido .img-infografica__item__dot::after, .img-infografica.color-acento-contenido .img-infografica-b__item__dot::before, .img-infografica.color-acento-contenido .img-infografica-b__item__dot::after, .img-infografica-b.color-acento-contenido .img-infografica__item__dot::before, .img-infografica-b.color-acento-contenido .img-infografica__item__dot::after, .img-infografica-b.color-acento-contenido .img-infografica-b__item__dot::before, .img-infografica-b.color-acento-contenido .img-infografica-b__item__dot::after
  background-color: #3F51B5
.img-infografica__item__dot::before, .img-infografica__item__dot::after, .img-infografica-b__item__dot::before, .img-infografica-b__item__dot::after
  height: 300% !important 
  width: 300% !important
.img-infografica__item__numero
  left: 150%
  top: 150%  
.img-infografica.color-acento-contenido .img-infografica__item__numero
  color: white  

.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto  
 
  









